<template>
	<div>
		Task: <input type="text" v-model="new_task">
		<input type="button" @click="addTask" value="Save Item">
	</div>
</template>

<script>
	export default {
		name: 'TaskAdd',
		data() {
			return {
				new_task: ''
			}
		},
		methods: {
			addTask() {
				Event.$emit('addTask', this.new_task);
				this.new_task = '';
			}
		}
	}
</script>

<style>
	
</style>