<template>
	<div>
		<div class="task-container">
			<div class="task-description">
				{{ task.description }}	
			</div>
			<div class="actions">
				<button v-if="!task.isDone" class="done-button" @click="markAsDone(task)">&#10004;</button>
				<button class="delete-button" @click="deleteTask(task)">X</button>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'Task',
		props: {
			task: Object
		},
		methods: {
			markAsDone(task) {
				task.isDone = true;
			},
			deleteTask(task) {
				Event.$emit('taskdeleted', task);				
			}
		}
	}
</script>

<style scoped>
	.task-container {
		border: 1px solid black;
		padding: 2% 1%;
		border-radius: 4px;
		margin: 10px;
	}
	.task-description {
		text-align: left;
		float: left;
	}
	.actions {
		float: right;
		margin: -1%;
		padding: 1%;
	}

	.action, .done-button {
		background-color: #4CAF50;
	}

	.action, .delete-button {
		background-color: #f44336;
	}
</style>