<template>
	<div>
		<h1>{{ title }}</h1>
		<Task v-for="task in tasks" :task='task'/>
	</div>
</template>

<script>
	import Task from '@/components/Task'
	export default {
		name: 'TaskList',
		props: {
			tasks: Array,
			title: String
		},
		components: {
			Task
		}
	}
</script>

<style>
	
</style>