<template>
  <div id="app">
    <TaskList :tasks='unFinished' :title="todo_list_title"/>
    <TaskAdd/>
    <TaskList :tasks='finished' :title="finished_list_title"/>
  </div>
</template>

<script>

import TaskList from '@/components/TaskList'
import TaskAdd from '@/components/TaskAdd'

export default {
  name: 'App',
  components: {
    TaskList,
    TaskAdd
  },
  data() {
    return {
      tasks: [
          {description: 'This is task 1', isDone: false},
          {description: 'This is task 2', isDone: false},
          {description: 'This is task 3', isDone: false},
          {description: 'This is task 4', isDone: false}
        ],
      todo_list_title: "To Do:",
      finished_list_title: "Done: "
    }
  },
  computed: {
    unFinished() {
      return this.tasks.filter((task) => !task.isDone);
    },
    finished() {
      return this.tasks.filter((task) => task.isDone);
    }
  },
  created() {

    Event.$on('taskdeleted', (should_delete) => {
      this.tasks = this.tasks.filter((task) => {
        return task.description != should_delete.description;
      });
    });

    Event.$on('addTask', (task_description) => {
      this.tasks.push({
        description: task_description,
        isDone: false
      });
    })
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;
  margin-top: 60px;
  background-color: #f7f7f9;
  border-radius: 4px;
}
</style>
